<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.daoko.mappers.adminMapper">
	<!-- 카테고리 호출 -->
	<select id="category" resultType="kr.daoko.domain.CategoryVO">
		select level, cateName, cateCode, cateCodeRef
		from goods_category
		start with cateCodeRef is null connect by prior cateCode = cateCodeRef
	</select>
	
	<!-- 상품 등록 -->
	<insert id="register">
		insert into tbl_goods(gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsThumbImg)
		values(#{gdsCode}, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsDesc}, #{gdsImg}, #{gdsThumbImg})
	</insert>
	
	<!-- 상품 목록 -->
	<select id="goodslist" resultType="kr.daoko.domain.GoodsViewVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsThumbImg
		from tbl_goods g
		inner join goods_category c
		on g.cateCode = c.cateCode
		order by gdsDate desc
	</select>
	
	<!-- 상품 조회 -->
	<select id="goodsView" resultType="kr.daoko.domain.GoodsViewVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsThumbImg
		from tbl_goods g
		inner join goods_category c
		on g.cateCode = c.cateCode
		where g.gdsCode = #{gdsCode}
	</select>
	
	<!-- 상품 수정 -->
	<update id="goodsModify">
		update tbl_goods
		set
			gdsName = #{gdsName},
			cateCode = #{cateCode},
			gdsPrice = #{gdsPrice},
			gdsDesc = #{gdsDesc},
			gdsImg = #{gdsImg},
			gdsThumbImg = #{gdsThumbImg}
		where gdsCode = #{gdsCode}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		delete tbl_goods
		where gdsCode = #{gdsCode}
	</delete>
	
	<!-- 모든 유저의 주문 목록 -->
	<select id="orderList" resultType="kr.daoko.domain.OrderVO">
		select orderId, userId, orderRecv, userAddr1, userAddr2, userZipcode, orderTel, amount, orderDate
		from tbl_order
	</select>
	
	<!-- 특정 주문 목록 -->
	<select id="orderView" resultType="kr.daoko.domain.OrderListVO">
		select o.orderId, o.userId, o.orderRecv, o.userAddr1, o.userAddr2, o.userZipcode, o.orderTel, o.amount, o.orderDate, d.orderDetailsNum, d.gdsCode, d.cartStock, d.gdsName, g.gdsThumbImg, g.gdsPrice
		from tbl_order o
		inner join tbl_order_details d on o.orderId = d.orderId
		inner join tbl_goods g on d.gdsCode = g.gdsCode
		where o.orderId = #{orderId}
	</select>
	
	<!-- 모든 소감(댓글) -->
	<select id="allReply" resultType="kr.daoko.domain.ReplyListVO">
		select r.gdsCode, r.userId, r.repNum, r.repCon, r.repDate, m.userName
		from tbl_reply r
		inner join tbl_member m on r.userId = m.userId
	</select>
	
	<!-- 소감(댓글) 삭제 -->
	<delete id="deleteReply">
		delete tbl_reply
		where repNum = #{repNum}
	</delete>
</mapper>