<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.daoko.mappers.adminMapper">
	<!-- 카테고리 호출 -->
	<select id="category" resultType="kr.daoko.domain.CategoryVO">
		select level, cateName, cateCode, cateCodeRef
		from goods_category
		start with cateCodeRef is null connect by prior cateCode = cateCodeRef
	</select>
	
	<!-- 상품 등록 -->
	<insert id="register">
		insert into tbl_goods(gdsCode, gdsName, cateCode, gdsPrice, gdsDesc)
		values(#{gdsCode}, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsDesc})
	</insert>
	
	<!-- 상품 목록 -->
	<select id="goodslist" resultType="kr.daoko.domain.GoodsVO">
		select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate
		from tbl_goods
		order by gdsDate desc
	</select>
	
	<!-- 상품 조회 -->
	<select id="goodsView" resultType="kr.daoko.domain.GoodsVO">
		select gdsCode, gdsName, cateCode, gdsPrice, gdsDesc, gdsImg, gdsDate
		from tbl_goods
		where gdsCode = #{gdsCode}
	</select>
</mapper>