<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.daoko.mappers.shopMapper">
	<!-- 카테고리별 상품 리스트: 1차 분류 -->
	<select id="list_1" resultType="kr.daoko.domain.GoodsViewVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsThumbImg
		from tbl_goods g
		inner join goods_category c
		on g.cateCode = c.cateCode
		where g.cateCode = #{cateCode}
		or c.cateCodeRef = #{cateCodeRef}
	</select>
	
	<!-- 카테고리별 상품 리스트: 2차 분류 -->
	<select id="list_2" resultType="kr.daoko.domain.GoodsViewVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsThumbImg
		from tbl_goods g
		inner join goods_category c
		on g.cateCode = c.cateCode
		where g.cateCode = #{cateCode}
	</select>
	
	<!-- 상품 조회 -->
	<select id="goodsView" resultType="kr.daoko.domain.GoodsViewVO">
		select g.gdsCode, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsDesc, gdsImg, gdsDate, gdsThumbImg
		from tbl_goods g
		inner join goods_category c
		on g.cateCode = c.cateCode
		where g.gdsCode = #{gdsCode}
	</select>
	
	<!-- 상품 소감(댓글) 작성 -->
	<insert id="registReply">
		insert into tbl_reply (gdsCode, userId, repNum, repCon)
		values(#{gdsCode}, #{userId}, tbl_reply_seq.nextval, #{repCon})
	</insert>

	<!-- 상품 소감(댓글) 리스트 -->
	<select id="replyList" resultType="kr.daoko.domain.ReplyListVO">
		select r.gdsCode, r.userId, r.repNum, r.repCon, r.repDate, m.userName
		from tbl_reply r
		inner join tbl_member m
		on r.userId = m.userId
		where gdsCode = #{gdsCode}
	</select>
	
	<!-- 상품 소감(댓글) 삭제 -->
	<delete id="deleteReply">
		delete tbl_reply
		where repNum = #{repNum} and userId = #{userId}
	</delete>
	
	<!-- 상품 소감(댓글) 수정 -->
	<update id="modifyReply">
		update tbl_reply
		set repCon = #{repCon}
		where repNum = #{repNum} and userId = #{userId}
	</update>
	
	<!-- 소감(댓글) 작성자 체크 -->
	<select id="replyUserIdCheck" resultType="String">
		select userId
		from tbl_reply
		where repNum = #{repNum}
	</select>
</mapper>